@CHARSET "ISO-8859-1";

/**
 *  Copyright 2018 Avaya Inc. All Rights Reserved.
 *
 * Usage of this source is bound to the terms described in
 * licences/License.txt
 *
 * Avaya - Confidential & Proprietary. Use pursuant to your signed agreement or
 * Avaya Policy
 */

/*
 *  Stylesheet for chat-specific components
 */
 
 .fixedPosition {
    position:fixed!important;
}

#pageTopic {
    display: block;
}

#pageTopic:invalid {
    background: red;
    color:white;
}

/**
 *  This is the element the user will click to show the chat panel.
 */

#chatPanel {
    display:none;
}

#chatForm {
    display: block;
    margin-top: 10px;
}
#chatInterface {
    display: none;
}
/*
 *  The messages in the chat are posted inside this div.
 *  The overflow setting, when combined with a maximum height,
 *  gives the div a scrollbar.
 */
#messages {
    border-bottom: 1px solid #cccccc;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    height: 230px;
    word-wrap: break-word;
    overflow-y: scroll;
    white-space: pre-wrap;
}

/*
 * URLs inside the message are black and underlined to stand out against the background.
 */
#messages a {
    color: black;
    text-decoration: underline;
}
#participants {
    padding-top: 4px;
}
#participants div {
    display: inline-block;
    width: 145px;
    border: 1px dotted #cccccc;
}
#controls {
    padding-top: 7px;
}

#usersDiv {
    height: 45px;
}

.bigtext {
    font-size: 19px;
}
.smalltext {
    font-size: 13px;
}

.sectionBorder {
    display: block;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
}

/**
 * Login form
 */
.formTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}
.formTable td {
    padding-left: 3px;
    padding-right: 3px;
}
.formLabel {
    padding-top: 5px;
    font-size: 16px;
}
.formField {
    width: 100%;
    padding-bottom: 2px;
    text-align: left;
}
.formField .customFields {
    width: 45%;
}
.formField #user-chat {
    width:30%;
}
.formField #user-chat-last {
    width:64%;
}
.formField input:invalid {
    background: red;
    color: white;
    font-weight: bold;
}
.formField input,select {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 3px;
    background-color: inherit;
    font-size: 14px;
}
.formField select {
    width: 168px;
}

.formCheckbox {
    padding-right: 172px;
    text-align: right;
}

/*
 *  The address inputs are hidden by default. To display them, set the value of "display" to "block".
 */
.addressClass {
    display:none;
}

#openbutton-chat {
    width: 100%;
}

/*
 * This is the customer's typing box.
 */
.chatField {
    width: 340px;
    border: 1px solid #cccccc;
    padding: 3px;
    font-size: 16px;
}

.poweredBy {
    display: block;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    text-align: right;
    position: relative;
    left: -20px;
    padding-right: 40px;
    font-size: 10px;
    top: 5px;
}

#sendbutton-chat {
    width: 100%;
}

#closebutton-chat{
    display:none;
}

/*
 *  Sent chat messages are inside a red paragraph
 */
p.sent {
    color: red;
}

/*
 *  Received chat messages are inside a blue paragraph,
 *  with italics to help distinguish them from sent paragraphs
 */
p.response {
    color: black;
    font-style: italic;
    text-align: right;
}

/*
 * System messages are left-aligned in blue italics.
 */
p.system {
    color: blue;
    font-style: italic;
    text-align: left;
}

/*
 * Keeping dates and names separate to messages
 */
p.date {
    font-weight: bold;
    width: 50%;
}

p.agentDate {
    font-weight: bold;
    text-align: right;
    width: 50%;
    left: 50%;
    position: relative;
    font-style: italic;
}

/*
 * For those who want chatbot messages to be separate to normal agent messages.
 */
p.chatbot {
    color: white;
    background: black;
    text-align: right;
}

.center {
    text-align: center;
}

.user {
    display: inline;
    width: 170px;
}

.hidden {
    display: none;
}

.typing {
    background: yellow;
    color: black;
}

#user-chat {
    width:33%;
}

#user-chat-last {
    width:66%;
}

#phone-country {
    width: 85px;
}

#phone-area {
    width: 85px;
}

#phone-chat {
    width: 150px;
}

#loginErrorsDiv {
    border-top: 1px #4a4a4a solid;
    white-space: pre;
    display: none;
    padding: 2px 0px 0px 2px;
}

/*****
*
*   Configuration panel for demos
*************************************
*/

.configHeader {
    font-weight:bold;
    padding-bottom:5px;
    padding-top:5px;
}


.configPanel {
    display:none;
    width: 400px;
    height: 400px;
    min-width:200px;
    padding-left:10px;
    padding-right:10px;
}

.configPanel iframe {
    width: 100%;
    height: 100%;

}


#configLink {
    position: absolute;
    right: 10px;
    top: 10px;
}


/**
*Widget elements
*/


.button-widget {
    border: none;
    color: white;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
    margin: 4px 2px;
    cursor: pointer;
}

.radio-widget {
    border: none;
    color: white;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    
}