@CHARSET "ISO-8859-1";

/**
 *  Copyright 2018 Avaya Inc. All Rights Reserved.
 *
 * Usage of this source is bound to the terms described in
 * licences/License.txt
 *
 * Avaya - Confidential & Proprietary. Use pursuant to your signed agreement or
 * Avaya Policy
 */

/*
 *	A default stylesheet for the user to extend.
 */
html, body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, san-serif;
	font-size: 12px;
	color: #333333;
        background-color: #ffffff;
}

/*
 *	Paragraphs in general scale to match their parent div
 */
p {
	word-wrap: break-word;
	width: 100%;
}

/**
 *  Placeholder for buttons.
 */
.button {
}

/*
 *	HEADER
 *	****************************************************************
 */
.header {
	display: block;
	width: 100%;
	height: 64px;
	background-color: rgb(209, 8, 18);
	background-image: url("../images/AvayaLogoCustom2.jpg");
	background-repeat: no-repeat;
}
.header div {
	display: inline-block;
}

/*
 *	MENU. Contains links to other pages
 *	****************************************************************
 */
.menu {
	display: inline;
	margin-left: 200px;
	margin-top: 32px;
	font-size: 14px;
	font-weight: bold;
	color: white;
}
.menu a {
	color: white;
	text-decoration: none;
}
.menu a:hover {
	color: black;
}


/*
 *	MAIN
 *	****************************************************************
 */
.main {
	display: block;
	width: 100%;
	height: 458px;
	background-color: white;
	background-image: url("../images/customerengagement_878x458_white.jpg");
	background-repeat: no-repeat;
}

.title {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 21px;
	color: white;
}

.panel {
	position: relative;
	top: 250px;
	width: 400px;
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url("../images/ambient-red.jpg");
	background-repeat: no-repeat;
}

.panel a {
	color: white;
	text-decoration: none;
}

/*
 * PRODUCTS - used on customer journey pages
 */

.products {
	color: white;
	padding-left: 20px;
	padding-bottom: 10px;
	width: 90%
}

.products .heading {
	font-size: 14px;
	text-decoration:underline;
	padding-bottom: 5px;
	padding-top: 10px;
}
.products .item {
	font-style:italic;
	width: 60%;
	min-width: 200px;
	float: left;
	overflow:auto;
}

.products .image {
	float: right;
	max-width: 200px;
	max-height: 200px;
}

.radio input {
	vertical-align: middle; 
	margin: 5px!important;
}

#blahblah a {
	color:#4b4b4b;font-weight:bold;
}

#contextConfigLink {
    position: absolute;
    right: 10px;
    top: 10px;  
}

#contextConfigLink img {
	width:50%; height:50%;
}

/*
 *	FOOTER
 *	****************************************************************
 */
.footer{
	padding: 0px;
	background-color: rgb(105, 105, 105);
	color: white;
	width: 100%;
	text-align: center;
}
.footerSocialMedia {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 10px;
	background-color: rgb(238, 238, 238);
	text-align: right;
	vertical-align: middle;
}
.footerColumn {
	display: inline-block;
	width: 160px;
	padding-top: 12px;
	padding-right: 2px;
	padding-bottom: 18px;
	padding-left: 2px;
	text-align: left;
	vertical-align: top;
	color: rgb(190, 190, 190);
}
.footerLinks {
	padding-top: 10px;
}
.footerLinks a {
	padding: 0px 0px 0px 0px;
	color: white;
	text-decoration: none;
}
.footerLinks a:hover {
	color: rgb(190, 190, 190);
}
.footerGeneral {
	background-color: rgb(74, 74, 74);
}
.footerGeneralLeft {
	display: inline;
	width: 50%;
	padding: 4px 4px 14px 14px;
	text-align: left;
}
.footerGeneralRight {
	display: inline-block;
	width: 50%;
	padding: 4px 14px 14px 4px;
	text-align: right;
}
.footerGeneral a {
	color: white;
	font-size: 11px;
	text-decoration: none;
}
.footerGeneral a:hover {
	color: rgb(190, 190, 190);
}

.blurb {
	left: 10px;
	font-size: 14px;
}

.blurb li {
	list-style: square;
	margin-left:15px
}

.moreDetails{
	
}

#topic {
    
}

#topic:invalid {
    background: red;
    color: white;
    font-weight: bold;
}

/*
 *	COBROWSE
 *	****************************************************************
 */
 #cobrowse {
 	width: 100%;
 	height: 800px; 
 	display: none;
}

#showCoBrowse {
	position: absolute;
	right: 50px;
	top: 15px;
	display: none;
}

/*
 *	COLUMNS at the bottom of the main page
 *	****************************************************************
 */
.columns {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.column {
    display: table-cell;
    background-color: #ffffff;
}

.column-inner {
	padding-top: 5px;
	padding-left: 50px;
	padding-right: 50px;
}

.column-inner a {
	color: #4b4b4b; 
	font-weight: bold;
}


/*
 *  Demo cobrowse form on home.html
 */

.cobrowse-demo-form td.cui-form-label {
    width: 35%;
    text-align: right;
    padding: 5px;
}

 
 .cobrowse-demo-form span.asterisk {
    color: red;
    font-size: 15px;
    display: inline-block;
 }
 
 .cobrowse-demo-form input {
    width: 200px;
 }
 
 .cobrowse-demo-form #pers_email_info {
    width: 20px;
 }
 
#contextConfigLink {
    position: absolute;
    right: 10px;
    top: 10px;  
}

/**
 *  Subscription panel to demonstrate customer journey.
 *
 */
#subscribePanel{
    width: 120px;
    display:none;
}

#subscribePanel input{
    width:100%;
}
	
#subscribePanel button{
    width: 48%;
    height: 30px;
}

#subscribeLink {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 50px;
}

#subscribeLink img {
    width:30px; height:30px;
}

#subscribeInputDiv {
    display:none;
}

#subscribeStatus {
    padding:5px;
}

#contextDisplayDialog{
    white-space: pre;
}










/*---------------------------------------------------------*/

/*---------------------[Presidio CSS]----------------------*/

/*---------------------------------------------------------*/



.ui-widget {

	font-size: 12px; color: #333; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}



.ui-widget-content.ui-widget {

	border-color: rgb(0,0,0);

}



.ui-widget-content a {

	color: #006FBA;

}



.ui-corner-all {

	border-radius: 0;

}



.ui-dialog {

	padding: 0;

}



.ui-widget-header {

	background-color: #006FBA; border: none; font-weight: normal;

}



.ui-dialog .ui-dialog-content {

	padding: 15px;

	overflow: hidden;

}



.ui-dialog .ui-dialog-button {

	padding: 0 15px 10px 15px; outline: none

}



.ui-dialog .ui-dialog-buttonpane {

	border: none; margin: 0; padding: 0 15px 15px 15px;

}



.ui-dialog .ui-dialog-buttonpane button {

	margin: 0; outline: none;

}





.ui-widget-content {

	border: none;

}



.chatField {

	margin-bottom: 15px;

}



.agentDate {

	font-style: italic;

}



.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {

	float: none;

}



.ui-dialog .ui-dialog-titlebar-close,

.ui-dialog .ui-dialog-titlebar-close:hover,

.ui-dialog .ui-dialog-titlebar-close:active,

.ui-dialog .ui-dialog-titlebar-close:focus {

	background: transparent; right: 15px; border: 1px solid #FFF; width: 15px; height: 15px; border-radius: 0; margin: -8px 0px 0px; padding: 0; outline: none

}



#closebutton-chat, .poweredBy {

	display: none;

}



.ui-button,

.ui-button:hover,

.ui-button:active,

.ui-button:focus {

    width: 100%; border: none; color: #fff; padding: 8px 10px; border-radius: 3px; margin: 5px 0 5px 0; background: #39b3d7; font-weight: normal;

}



.ui-widget input, .formField input {

    border: 1px solid #ccc; padding: 5px 10px; color: #777; font-size: 15px; display: inline-block; box-sizing: border-box; 

}



.formField input {

	border: 1px solid #ccc; padding: 5px 10px; color: #777; font-size: 15px; display: inline-block; box-sizing: border-box; 

}



#chatForm img, #transcript-chat {

	margin-bottom: 10px;

}



#user-chat, #user-chat-last {

	width: 183px; margin: 5px 0 15px 0;

}



#email-chat, #address-chat, #reason, #outmessage {

	width: 370px; margin: 5px 0 15px 0;

}



#phone-country {

	width: 45px; margin-bottom: 15px;

}



#phone-area {

	width: 55px; margin-bottom: 15px;

}



#phone-chat {

	width: 60px; margin-bottom: 15px;

}



#loginErrorsDiv {

	margin: 15px 0;

}


