#main-content {
	background: rgb(255, 255, 255);
}
.owl-carousel {
	position: relative; -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-item {
	position: relative; -webkit-tap-highlight-color: transparent;
}
.owl-carousel {
	width: 100%; display: none; z-index: 1;
}
.owl-carousel .owl-stage {
	position: relative; -ms-touch-action: pan-y; -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.owl-carousel .owl-stage-outer {
	overflow: hidden; position: relative; -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
	transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -moz-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-wrapper {
	transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -moz-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
	float: left; min-height: 1px; -webkit-backface-visibility: hidden; -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
	display: block;
}
.owl-carousel .disabled.owl-dots {
	display: none;
}
.owl-carousel .disabled.owl-nav {
	display: none;
}
.no-js .owl-carousel {
	display: block;
}
.owl-loaded.owl-carousel {
	display: block;
}
.owl-carousel .owl-dot {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-carousel .owl-nav .owl-next {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-carousel .owl-nav .owl-prev {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-loading.owl-carousel {
	display: block; opacity: 0;
}
.owl-hidden.owl-carousel {
	opacity: 0;
}
.owl-refresh.owl-carousel .owl-item {
	visibility: hidden;
}
.owl-drag.owl-carousel .owl-item {
	-ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.owl-grab.owl-carousel {
	cursor: move;
}
.owl-rtl.owl-carousel {
	direction: rtl;
}
.owl-rtl.owl-carousel .owl-item {
	float: right;
}
.owl-carousel .animated {
	animation-duration: 1s; animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
	z-index: 0;
}
.owl-carousel .owl-animated-out {
	z-index: 1;
}
.owl-carousel .fadeOut {
	animation-name: fadeOut;
}
.owl-height {
	transition:height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
	transition:opacity 0.4s; opacity: 0;
}
.owl-carousel .owl-item img.owl-lazy {
	
}
.owl-carousel .owl-video-wrapper {
	background: rgb(0, 0, 0); height: 100%; position: relative;
}
.owl-carousel .owl-video-play-icon {
	background: url("owl.video.play.png") no-repeat; transition:transform 0.1s; left: 50%; top: 50%; width: 80px; height: 80px; margin-top: -40px; margin-left: -40px; position: absolute; z-index: 1; cursor: pointer; -webkit-backface-visibility: hidden;
}
.owl-carousel .owl-video-play-icon:hover {
	transform: scale(1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}
.owl-carousel .owl-video-playing .owl-video-tn {
	display: none;
}
.owl-carousel .owl-video-tn {
	background-position: center; transition:opacity 0.4s; height: 100%; opacity: 0; background-repeat: no-repeat; background-size: contain;
}
.owl-carousel .owl-video-frame {
	width: 100%; height: 100%; position: relative; z-index: 1;
}
.owl-theme .owl-nav {
	text-align: center; margin-top: 10px; -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
	background: rgb(214, 214, 214); margin: 5px; padding: 4px 7px; border-radius: 3px; color: rgb(255, 255, 255); font-size: 14px; display: inline-block; cursor: pointer;
}
.owl-theme .owl-nav [class*='owl-']:hover {
	background: rgb(134, 151, 145); color: rgb(255, 255, 255); text-decoration: none;
}
.owl-theme .owl-nav .disabled {
	cursor: default; opacity: 0.5;
}
.owl-theme .disabled.owl-nav + .owl-dots {
	
}
.owl-theme .owl-dots {
	text-align: center; -webkit-tap-highlight-color: transparent;
}
.owl-dot {
	cursor: pointer;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block; -ms-zoom: 1;
}
.v4-recs-dots-box .owl-dot {
	display: inline-block; -ms-zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
	background: rgb(214, 214, 214); margin: 5px 2px; border-radius: 0px; border: 1px solid rgb(153, 153, 153); transition:opacity 200ms; border-image: none; width: 14px; height: 14px; display: block; -webkit-backface-visibility: visible;
}
.v4-recs-dots-box .owl-dot span {
	background: rgb(214, 214, 214); margin: 5px 2px; border-radius: 0px; border: 1px solid rgb(153, 153, 153); transition:opacity 200ms; border-image: none; width: 14px; height: 14px; display: block; -webkit-backface-visibility: visible;
}
.owl-theme .owl-dots .active.owl-dot span {
	background: rgb(0, 162, 224);
}
.v4-recs-dots-box .active.owl-dot span {
	background: rgb(0, 162, 224);
}
.owl-theme .owl-dots .owl-dot:hover span {
	
}
.v4-recs-dots-box .owl-dot:hover span {
	
}
.v4-recs-item {
	padding: 0px 10px;
}
.v4-recs-item > div {
	margin: 5px auto;
}
.v4-recs-title {
	text-transform: capitalize !important; padding-bottom: 0px; margin-bottom: 0px; border-bottom-color: rgb(0, 170, 231) !important; border-bottom-width: 4px !important; border-bottom-style: solid !important;
}
.v4-recs-image-box {
	padding: 0px 20px; position: relative; min-height: 80px; -webkit-transform: translate3d(0, 0, 0);
}
.v4-recs-quickview-button {
	left: 50%; top: 50%; position: absolute;
}
.v4-recs-image-box .v4-recs-quickview-button {
	display: none;
}
.v4-recs-image-box:hover .v4-recs-quickview-button {
	display: inline-block;
}
.v4-recs-prev-next-box {
	top: 50%; width: 100%; position: absolute; z-index: 50;
}
.v4-recs-prev-next-box .owl-prev {
	background: url("https://cdn.mscdirect.com/global/media/images/slider/arrows.png") no-repeat; border: 0px currentColor; border-image: none; width: 30px; height: 30px; text-indent: -9999px; cursor: pointer;
}
.v4-recs-prev-next-box .owl-next {
	background: url("https://cdn.mscdirect.com/global/media/images/slider/arrows.png") no-repeat; border: 0px currentColor; border-image: none; width: 30px; height: 30px; text-indent: -9999px; cursor: pointer;
}
.v4-recs-prev-next-box .owl-prev {
	left: 0px; margin-top: -15px; position: absolute;
}
.v4-recs-prev-next-box .owl-next {
	background-position: -30px 0px; right: 0px; margin-top: -15px; position: absolute;
}
.v4-qty-chooser-caret {
	margin: 0px !important;
}
.fancybox-enabled {
	overflow: hidden;
}
.fancybox-enabled body {
	height: 100%; overflow: visible;
}
.fancybox-is-hidden {
	left: -9999px; top: -9999px; visibility: hidden; position: absolute;
}
.fancybox-container {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 99993; transform: translateZ(0px); backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden;
}
.fancybox-container ~ .fancybox-container {
	z-index: 99992;
}
.fancybox-bg {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.fancybox-inner {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.fancybox-outer {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.fancybox-stage {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.fancybox-outer {
	-ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
.fancybox-bg {
	background: rgb(30, 30, 30); opacity: 0; transition-property: opacity; transition-duration: inherit; transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
.fancybox-is-open .fancybox-bg {
	opacity: 0.87; transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.fancybox-caption-wrap {
	transition:opacity 0.25s, visibility 0s linear 0.25s; visibility: hidden; position: absolute; z-index: 99997; direction: ltr; box-sizing: border-box; opacity: 0;
}
.fancybox-infobar {
	transition:opacity 0.25s, visibility 0s linear 0.25s; visibility: hidden; position: absolute; z-index: 99997; direction: ltr; box-sizing: border-box; opacity: 0;
}
.fancybox-toolbar {
	transition:opacity 0.25s, visibility 0s linear 0.25s; visibility: hidden; position: absolute; z-index: 99997; direction: ltr; box-sizing: border-box; opacity: 0;
}
.fancybox-show-caption .fancybox-caption-wrap {
	transition:opacity 0.25s, visibility; visibility: visible; opacity: 1;
}
.fancybox-show-infobar .fancybox-infobar {
	transition:opacity 0.25s, visibility; visibility: visible; opacity: 1;
}
.fancybox-show-toolbar .fancybox-toolbar {
	transition:opacity 0.25s, visibility; visibility: visible; opacity: 1;
}
.fancybox-infobar {
	left: 50%; top: 0px; margin-left: -79px;
}
.fancybox-infobar__body {
	width: 70px; text-align: center; color: rgb(221, 221, 221); line-height: 44px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 13px; display: inline-block; pointer-events: none; -ms-user-select: none; background-color: rgba(30, 30, 30, 0.7); -webkit-user-select: none; -moz-user-select: none; -webkit-tap-highlight-color: transparent; user-select: none; -webkit-font-smoothing: subpixel-antialiased; -webkit-touch-callout: none;
}
.fancybox-toolbar {
	top: 0px; right: 0px;
}
.fancybox-stage {
	overflow: hidden; z-index: 99994; direction: ltr; -webkit-transform: translateZ(0);
}
.fancybox-slide {
	margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; overflow: auto; display: none; white-space: normal; position: absolute; z-index: 99994; box-sizing: border-box; transition-property: transform, opacity, -webkit-transform; backface-visibility: hidden; -webkit-backface-visibility: hidden; -webkit-transform-style: preserve-3d; -webkit-overflow-scrolling: touch;
}
.fancybox-slide::before {
	width: 0px; height: 100%; vertical-align: middle; display: inline-block; content: "";
}
.fancybox-is-sliding .fancybox-slide {
	display: block;
}
.fancybox-slide--current {
	display: block;
}
.fancybox-slide--next {
	display: block;
}
.fancybox-slide--previous {
	display: block;
}
.fancybox-slide--image {
	overflow: visible;
}
.fancybox-slide--image::before {
	display: none;
}
.fancybox-slide--video .fancybox-content {
	background: rgb(0, 0, 0);
}
.fancybox-slide--video iframe {
	background: rgb(0, 0, 0);
}
.fancybox-slide--map .fancybox-content {
	background: rgb(229, 227, 223);
}
.fancybox-slide--map iframe {
	background: rgb(229, 227, 223);
}
.fancybox-slide--next {
	z-index: 99995;
}
.fancybox-slide > div {
	border-width: 0px; margin: 44px 0px; padding: 24px; text-align: left; overflow: auto; vertical-align: middle; display: inline-block; position: relative; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
.fancybox-slide .fancybox-image-wrap {
	background: no-repeat 0% 0% / 100% 100%; margin: 0px; padding: 0px; transform-origin: left top; border: 0px currentColor; border-image: none; left: 0px; top: 0px; overflow: visible; position: absolute; z-index: 99995; cursor: default; -ms-user-select: none; backface-visibility: hidden; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-backface-visibility: hidden; -webkit-transform-origin: top left;
}
.fancybox-can-zoomOut .fancybox-image-wrap {
	
}
.fancybox-can-zoomIn .fancybox-image-wrap {
	
}
.fancybox-can-drag .fancybox-image-wrap {
	
}
.fancybox-is-dragging .fancybox-image-wrap {
	
}
.fancybox-image {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; max-height: none; max-width: none; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.fancybox-spaceball {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; max-height: none; max-width: none; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.fancybox-spaceball {
	z-index: 1;
}
.fancybox-slide--iframe .fancybox-content {
	background: rgb(255, 255, 255); padding: 0px; width: 80%; height: 80%; overflow: visible; max-height: calc(100% - 88px); max-width: calc(100% - 100px);
}
.fancybox-iframe {
	padding: 0px; border: 0px currentColor; border-image: none; height: 100%; display: block;
}
.fancybox-error {
	background: rgb(255, 255, 255); margin: 0px; width: 100%;
}
.fancybox-iframe {
	background: rgb(255, 255, 255); margin: 0px; width: 100%;
}
.fancybox-error {
	padding: 40px; cursor: default; max-width: 380px;
}
.fancybox-error p {
	font: 16px/20px Helvetica Neue, Helvetica, Arial, sans-serif; margin: 0px; padding: 0px; color: rgb(68, 68, 68); font-size-adjust: none; font-stretch: normal;
}
.fancybox-close-small {
	background: none; margin: 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; top: 0px; width: 44px; height: 44px; right: 0px; position: absolute; z-index: 10; cursor: pointer;
}
.fancybox-close-small::after {
	background: none; border-width: 0px; font: 300 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif; border-radius: 50%; transition:background 0.25s; top: 5px; width: 20px; height: 20px; text-align: center; right: 14px; color: rgb(136, 136, 136); position: absolute; z-index: 2; content: "x"; box-sizing: border-box; font-size-adjust: none; font-stretch: normal;
}
.fancybox-close-small:focus::after {
	outline: rgb(136, 136, 136) dotted 1px;
}
.fancybox-close-small:hover::after {
	background: none; color: rgb(85, 85, 85);
}
.fancybox-slide--iframe .fancybox-close-small {
	top: 0px; right: -44px;
}
.fancybox-slide--iframe .fancybox-close-small::after {
	background: none; color: rgb(170, 170, 170); font-size: 35px;
}
.fancybox-slide--iframe .fancybox-close-small:hover::after {
	color: rgb(255, 255, 255);
}
.fancybox-caption-wrap {
	background: linear-gradient(180deg, transparent 0px, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8)); padding: 60px 30px 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none;
}
.fancybox-caption {
	padding: 30px 0px; color: rgb(255, 255, 255); line-height: 20px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; border-top-color: hsla(0, 0%, 100%, 0.4); border-top-width: 1px; border-top-style: solid; -webkit-text-size-adjust: none;
}
.fancybox-caption a {
	pointer-events: all;
}
.fancybox-caption button {
	pointer-events: all;
}
.fancybox-caption select {
	pointer-events: all;
}
.fancybox-caption a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.fancybox-button {
	background: none; margin: 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; width: 44px; height: 44px; text-align: center; color: rgb(221, 221, 221); line-height: 44px; vertical-align: top; display: inline-block; position: relative; cursor: pointer;
}
[disabled].fancybox-button {
	cursor: default; pointer-events: none;
}
.fancybox-button {
	background: rgba(30, 30, 30, 0.6);
}
.fancybox-infobar__body {
	background: rgba(30, 30, 30, 0.6);
}
:not([disabled]).fancybox-button:hover {
	background: rgba(0, 0, 0, 0.8); color: rgb(255, 255, 255);
}
.fancybox-button::after {
	color: currentColor; display: inline-block; position: absolute; content: ""; box-sizing: border-box; opacity: 0.9; pointer-events: none; background-color: currentColor;
}
.fancybox-button::before {
	color: currentColor; display: inline-block; position: absolute; content: ""; box-sizing: border-box; opacity: 0.9; pointer-events: none; background-color: currentColor;
}
[disabled].fancybox-button::after {
	opacity: 0.3;
}
[disabled].fancybox-button::before {
	opacity: 0.3;
}
.fancybox-button--left::after {
	background: none; top: 18px; width: 6px; height: 6px; border-top-color: currentColor; border-right-color: currentColor; border-top-width: 2px; border-right-width: 2px; border-top-style: solid; border-right-style: solid;
}
.fancybox-button--right::after {
	background: none; top: 18px; width: 6px; height: 6px; border-top-color: currentColor; border-right-color: currentColor; border-top-width: 2px; border-right-width: 2px; border-top-style: solid; border-right-style: solid;
}
.fancybox-button--left::after {
	left: 20px; transform: rotate(-135deg); -webkit-transform: rotate(-135deg);
}
.fancybox-button--right::after {
	right: 20px; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.fancybox-button--left {
	border-bottom-left-radius: 5px;
}
.fancybox-button--right {
	border-bottom-right-radius: 5px;
}
.fancybox-button--close::after {
	left: calc(50% - 8px); top: calc(50% - 1px); width: 16px; height: 2px; display: inline-block; position: absolute; content: "";
}
.fancybox-button--close::before {
	left: calc(50% - 8px); top: calc(50% - 1px); width: 16px; height: 2px; display: inline-block; position: absolute; content: "";
}
.fancybox-button--close::before {
	transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.fancybox-button--close::after {
	transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
}
.fancybox-arrow {
	background: none; margin: -50px 0px 0px; padding: 0px; border: 0px currentColor; transition:opacity 0.25s; border-image: none; top: 50%; width: 54px; height: 100px; position: absolute; z-index: 99995; cursor: pointer; opacity: 0; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.fancybox-arrow::after {
	background-position: 50%; top: 28px; width: 44px; height: 44px; position: absolute; content: ""; background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4="); background-repeat: no-repeat; background-size: 24px 24px; background-color: rgba(30, 30, 30, 0.8);
}
.fancybox-arrow--right {
	right: 0px;
}
.fancybox-arrow--left {
	left: 0px; transform: scaleX(-1); -webkit-transform: scaleX(-1);
}
.fancybox-arrow--left::after {
	left: 0px;
}
.fancybox-arrow--right::after {
	left: 0px;
}
.fancybox-show-nav .fancybox-arrow {
	opacity: 0.6;
}
.fancybox-show-nav [disabled].fancybox-arrow {
	opacity: 0.3;
}
.fancybox-slide > .fancybox-loading {
	background: none; border-width: 6px; border-style: solid; border-color: hsla(0, 0%, 100%, 0.6) hsla(0, 0%, 39%, 0.4) hsla(0, 0%, 39%, 0.4); border-radius: 100%; animation:a 0.8s linear infinite; border-image: none; left: 50%; top: 50%; width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; position: absolute; z-index: 99999; -webkit-animation: a .8s infinite linear;
}
.fancybox-animated {
	transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}
.fancybox-slide--previous.fancybox-fx-slide {
	opacity: 0; transform: translate3d(-100%, 0px, 0px); -webkit-transform: translate3d(-100%, 0, 0);
}
.fancybox-slide--next.fancybox-fx-slide {
	opacity: 0; transform: translate3d(100%, 0px, 0px); -webkit-transform: translate3d(100%, 0, 0);
}
.fancybox-slide--current.fancybox-fx-slide {
	opacity: 1; transform: translateZ(0px); -webkit-transform: translateZ(0);
}
.fancybox-slide--next.fancybox-fx-fade {
	opacity: 0; transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fancybox-slide--previous.fancybox-fx-fade {
	opacity: 0; transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fancybox-slide--current.fancybox-fx-fade {
	opacity: 1;
}
.fancybox-slide--previous.fancybox-fx-zoom-in-out {
	opacity: 0; transform: scale3d(1.5, 1.5, 1.5); -webkit-transform: scale3d(1.5, 1.5, 1.5);
}
.fancybox-slide--next.fancybox-fx-zoom-in-out {
	opacity: 0; transform: scale3d(0.5, 0.5, 0.5); -webkit-transform: scale3d(.5, .5, .5);
}
.fancybox-slide--current.fancybox-fx-zoom-in-out {
	opacity: 1; transform: scaleX(1); -webkit-transform: scaleX(1);
}
.fancybox-slide--previous.fancybox-fx-rotate {
	opacity: 0; transform: rotate(-1turn); -webkit-transform: rotate(-1turn);
}
.fancybox-slide--next.fancybox-fx-rotate {
	opacity: 0; transform: rotate(1turn); -webkit-transform: rotate(1turn);
}
.fancybox-slide--current.fancybox-fx-rotate {
	opacity: 1; transform: rotate(0deg); -webkit-transform: rotate(0deg);
}
.fancybox-slide--previous.fancybox-fx-circular {
	opacity: 0; transform: scale3d(0, 0, 0) translate3d(-100%, 0px, 0px); -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}
.fancybox-slide--next.fancybox-fx-circular {
	opacity: 0; transform: scale3d(0, 0, 0) translate3d(100%, 0px, 0px); -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}
.fancybox-slide--current.fancybox-fx-circular {
	opacity: 1; transform: scaleX(1) translateZ(0px); -webkit-transform: scaleX(1) translateZ(0);
}
.fancybox-slide--previous.fancybox-fx-tube {
	transform: translate3d(-100%, 0px, 0px) scale(0.1) skew(-10deg); -webkit-transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
}
.fancybox-slide--next.fancybox-fx-tube {
	transform: translate3d(100%, 0px, 0px) scale(0.1) skew(10deg); -webkit-transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
}
.fancybox-slide--current.fancybox-fx-tube {
	transform: translateZ(0px) scale(1); -webkit-transform: translateZ(0) scale(1);
}
@media all and (max-width:800px)
{
.fancybox-infobar {
	left: 0px; margin-left: 0px;
}
.fancybox-button--left {
	display: none !important;
}
.fancybox-button--right {
	display: none !important;
}
.fancybox-caption {
	margin: 0px; padding: 20px 0px;
}
}
.fancybox-button--fullscreen::before {
	background: none; border: 2px solid currentColor; border-image: none; left: calc(50% - 7px); top: calc(50% - 6px); width: 15px; height: 11px;
}
.fancybox-button--pause::before {
	background: none; left: calc(50% - 4px); top: calc(50% - 6px);
}
.fancybox-button--play::before {
	background: none; left: calc(50% - 4px); top: calc(50% - 6px);
}
.fancybox-button--play::before {
	border-radius: 1px; width: 0px; height: 0px; border-top-color: transparent; border-bottom-color: transparent; border-left-color: currentColor; border-top-width: 6px; border-bottom-width: 6px; border-left-width: 10px; border-top-style: inset; border-bottom-style: inset; border-left-style: solid;
}
.fancybox-button--pause::before {
	border-width: 0px 2px; border-style: solid; width: 7px; height: 11px;
}
.fancybox-button--thumbs {
	display: none;
}
.fancybox-thumbs {
	display: none;
}
@media all and (min-width:800px)
{
.fancybox-button--thumbs {
	display: inline-block;
}
.fancybox-button--thumbs span {
	font-size: 23px;
}
.fancybox-button--thumbs::before {
	left: calc(50% - 2px); top: calc(50% - 2px); width: 3px; height: 3px; box-shadow: 0px -4px 0px, -4px -4px 0px, 4px -4px 0px, inset 0px 0px 0px 32px, -4px 0px 0px, 4px 0px 0px, 0px 4px 0px, -4px 4px 0px, 4px 4px 0px;
}
.fancybox-thumbs {
	background: rgb(255, 255, 255); margin: 0px; padding: 5px 5px 0px 0px; left: auto; top: 0px; width: 220px; right: 0px; bottom: 0px; position: absolute; z-index: 99995; -ms-word-break: normal; box-sizing: border-box; -ms-overflow-style: -ms-autohiding-scrollbar; -webkit-tap-highlight-color: transparent; -webkit-overflow-scrolling: touch;
}
.fancybox-show-thumbs .fancybox-thumbs {
	display: block;
}
.fancybox-show-thumbs .fancybox-inner {
	right: 220px;
}
.fancybox-thumbs > ul {
	list-style: none; margin: 0px; padding: 0px; width: 100%; height: 100%; font-size: 0px; position: relative; -ms-overflow-x: hidden; -ms-overflow-y: auto;
}
.fancybox-thumbs > ul > li {
	border-width: 0px 0px 5px 5px; border-style: solid; border-color: transparent; margin: 0px; padding: 0px; border-image: none; width: 105px; height: 75px; overflow: hidden; float: left; position: relative; cursor: pointer; max-width: 50%; box-sizing: border-box; backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-backface-visibility: hidden;
}
li.fancybox-thumbs-loading {
	background: rgba(0, 0, 0, 0.1);
}
.fancybox-thumbs > ul > li > img {
	left: 0px; top: 0px; position: absolute; min-height: 100%; max-height: none; min-width: 100%; max-width: none; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-touch-callout: none;
}
.fancybox-thumbs > ul > li::before {
	border-radius: 2px; border: 4px solid rgb(78, 167, 249); transition:0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); border-image: none; left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; z-index: 99991; content: ""; opacity: 0;
}
.fancybox-thumbs > ul > li.fancybox-thumbs-active::before {
	opacity: 1;
}
}
.v4-tn-rating {
	text-align: center;
}
.v4-tn-onestop-stop {
	font-weight: 700;
}
.v4-tn-you-save {
	font-weight: 700;
}
.v4-tn-list-price {
	text-decoration: line-through;
}
.v4-tn-your-price {
	font-size: 1.1em; font-weight: 700;
}
.v4-tn-you-save {
	color: rgb(1, 166, 81); font-style: italic;
}
.v4-tn-banner {
	margin-bottom: 20px;
}
.v4-tn-recommendations-box {
	margin-top: 30px;
}
.v4-tn-notes strong {
	font-size: 0.8em;
}
.v4-tn-item-info {
	background: rgba(0, 0, 50, 0.03); border-radius: 3px; border: 1px solid rgb(236, 236, 236); border-image: none;
}
.v4-tn-onestop-price {
	color: rgb(153, 153, 153); font-size: 0.8em; font-style: italic;
}
.v4-tn-rating img {
	max-width: 100%;
}
.v4-tn-item-image-column > div {
	margin-bottom: 5px;
}
.v4-tn-bb-link-mobile {
	margin-bottom: 0px !important;
}
.v4-tn-onestop-one {
	color: rgb(0, 0, 0); font-size: 1.1em;
}
.v4-tn-onestop-sm {
	color: rgb(33, 90, 169); font-size: 1.1em;
}
.v4-tn-onestop-stop {
	color: rgb(33, 90, 169); font-size: 1.1em;
}
#help-options p {
	padding-left: 70px;
}
#help-options strong {
	text-transform: uppercase;
}
.help-left {
	min-height: 55px;
}
.help-right {
	min-height: 55px;
}
.v4-recs-description {
	min-height: 80px;
}
#SearchTypeAhead {
	background: rgb(255, 255, 255); border: 1px solid rgb(51, 51, 51); border-image: none; left: 69px; top: 34px; width: 348px; display: none; position: absolute; z-index: 2000;
}
#SearchTypeAhead .closeButton {
	background: rgb(51, 51, 51); padding: 2px; width: 100%; text-align: center; color: rgb(236, 236, 236); text-transform: uppercase; font-size: 8px; cursor: pointer;
}
#SearchTypeAhead .suggestionList {
	padding: 0px 5px; overflow: auto; max-height: 300px;
}
.typeAheadDisplay dl dt {
	color: rgb(51, 51, 51); font-weight: bold;
}
.typeAheadDisplay dd {
	margin-left: 0px;
}
.typeAheadDisplay ul {
	list-style: none; margin: 0px;
}
.typeAheadDisplay li {
	list-style: none; margin: 0px;
}
.typeAheadDisplay ul {
	padding: 0px 0px 15px;
}
.typeAheadDisplay li {
	padding: 5px 2px; color: rgb(23, 64, 150); font-size: 13px; cursor: pointer;
}
.typeAheadDisplay li:hover {
	background: rgb(236, 236, 236); color: rgb(51, 51, 51);
}
.typeAheadMatch {
	font-weight: bold;
}
.search-refine-scroll-box {
	border-width: medium medium 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgba(34, 36, 38, 0.15) rgba(34, 36, 38, 0.15); border-radius: 4px; border-image: none; height: 100px; overflow: auto; -webkit-overflow-scrolling: touch;
}
.rating {
	background: url("//cdn.mscdirect.com/global/application-content/images/icons/star-ratings.png") no-repeat 0px 0px; margin: 0px; width: 125px; height: 16px; bottom: 1px; padding-left: 83px; display: block; position: relative; -webkit-transform: translate3d(0, 0, 0);
}
.rating-refinements {
	background: url("//cdn.mscdirect.com/global/application-content/images/icons/star-ratings.png") no-repeat 0px 0px; top: 2px; width: 80px; height: 16px; margin-right: 5px; display: inline-block; position: relative; -webkit-transform: translate3d(0, 0, 0);
}
.nostar {
	background-position: 0px 0px;
}
.onestar {
	background-position: 0px -16px; padding-right: 5px;
}
.twostar {
	background-position: 0px -32px;
}
.threestar {
	background-position: 0px -48px;
}
.fourstar {
	background-position: 0px -64px;
}
.fivestar {
	background-position: 0px -80px;
}
.attrSelect {
	width: 100%;
}
.addtocart {
	top: 40px !important;
}
.addtocart_small_popup {
	top: 40px !important;
}
.quickview {
	top: 40px !important;
}
.modal.ui {
	top: 40px !important;
}
#v4-tn-refinements-column {
	background: rgb(236, 236, 236);
}
#v4-tn-sidebar-menu {
	background: rgb(236, 236, 236);
}
.v4-tn-list-price {
	text-decoration: line-through;
}
.v4-tn-your-price {
	font-size: 1.1em; font-weight: bold;
}
.v4-tn-you-save {
	color: rgb(1, 166, 81); font-style: italic; font-weight: bold;
}
.v4-tn-recommendations-box {
	margin-top: 30px;
}
.v4-tn-notes strong {
	font-size: 0.8em;
}
.v4-tn-item-info {
	background: rgba(0, 0, 50, 0.03); border-radius: 3px; border: 1px solid rgb(236, 236, 236); border-image: none;
}
.v4-tn-onestop-price {
	color: rgb(153, 153, 153); font-size: 0.8em; font-style: italic;
}
.v4-tn-rating {
	text-align: center;
}
.v4-tn-rating img {
	max-width: 100%;
}
.v4-tn-item-image-column > div {
	margin-bottom: 5px;
}
.v4-tn-bb-link-mobile {
	margin-bottom: 0px !important;
}
.v4-tn-onestop-one {
	color: rgb(0, 0, 0); font-size: 1.1em;
}
.v4-tn-onestop-stop {
	color: rgb(33, 90, 169); font-size: 1.1em; font-weight: bold;
}
.v4-tn-onestop-sm {
	color: rgb(33, 90, 169); font-size: 1.1em;
}
.v4-pdp-list-price {
	font-style: italic;
}
.v4-pdp-your-price {
	font-size: 1.1em; font-weight: bold;
}
.v4-pdp-you-save {
	color: rgb(1, 166, 81); font-size: 0.7em; font-weight: normal;
}
.v4-pdp-qty {
	font-size: 1.1em; font-weight: bold;
}
.v4-pdp-qty-input {
	padding: 5px 8px; width: 80px;
}
.v4-pdp-stock-info {
	padding-bottom: 5px; padding-left: 30px; font-weight: bold; margin-bottom: 15px;
}
.instock.v4-pdp-stock-info {
	background: url("img/pdp/instock.png") no-repeat;
}
.location.v4-pdp-stock-info {
	background: url("img/pdp/location.png") no-repeat;
}
.coo.v4-pdp-stock-info {
	background: url("img/pdp/coo.png") no-repeat;
}
.guarantee.v4-pdp-stock-info {
	background: url("img/pdp/guarantee.png") no-repeat;
}
.v4-pdp-more-specs {
	padding-bottom: 5px; padding-left: 30px; font-weight: bold; margin-bottom: 15px;
}
.recycled.v4-pdp-more-specs {
	background: url("img/pdp/ENER15.GIF") no-repeat;
}
.trans.v4-pdp-more-specs {
	background: url("img/pdp/nas_trans.gif") no-repeat;
}
.msds.v4-pdp-more-specs {
	background: url("img/pdp/icn_msds.gif") no-repeat;
}
#v4-tn-further-filter-by {
	margin-top: 10px; margin-bottom: 10px;
}
.v4-tn-refinement-box {
	overflow: auto; max-height: 230px;
}
.v4-tn-view-icon {
	color: rgb(51, 51, 51) !important;
}
.v4-tn-note-icon {
	margin-right: 5px;
}
#v4-tn-pla-top-notes {
	background: rgb(236, 236, 236); padding: 1px 10px; border-radius: 3px;
}
.v4-tn-fancybox-container {
	display: none;
}
.v4-tn-clickable-item {
	cursor: pointer;
}
#v4-tn-further-filter-by {
	margin-top: 10px; margin-bottom: 10px;
}
.v4-tn-refinement-box {
	overflow: auto; max-height: 230px;
}
.popup-content {
	min-width: 650px !important;
}
.popup-content.popup {
	padding: 0px !important;
}
.popup-content.popup .scrolling {
	padding: 1em; -ms-overflow-x: hidden; -ms-overflow-y: auto; max-height: 280px;
}
.popup-content p {
	margin: 5px 0px;
}
.learn-more-icons {
	top: 10px; right: 0px; position: absolute;
}
.refinementHeader {
	color: rgb(33, 69, 119);
}
.refNumOfItems {
	color: rgb(102, 102, 102); font-size: 0.75em;
}
.v4-tn-title a {
	color: rgba(0, 0, 0, 0.87);
}
.pdp-pb-selected {
	background: rgb(238, 238, 238);
}
.pdp-pb-specs {
	margin: auto 2px; padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; text-align: center; font-size: 12px;
}
.details-table {
	overflow: auto; max-height: 210px;
}
.form_err_wrapper {
	left: auto !important; position: relative !important;
}
.form_err_msg {
	
}
.fancybox-slide > div {
	padding: 0px;
}
#v4-tn-image-refinements {
	min-height: 250px;
}
.v4-recs-rating-image img {
	width: auto !important; vertical-align: top; display: inline-block !important;
}
.v4-recs-image img {
	max-height: 80px !important;
}
.list-group-item-hidden {
	display: none !important;
}
.starRating {
	margin-left: 5px;
}
#v4-tn-pla-top-notes {
	background: rgb(236, 236, 236); padding: 1px 10px; border-radius: 3px;
}
.v4-recs-price {
	min-height: 40px;
}
a.searchSideBar {
	display: table-cell !important;
}
#loader {
	background: rgba(255, 255, 255, 0.9); width: 100%; height: 120%; text-align: center; color: rgb(119, 119, 119); font-weight: 700; display: block; position: fixed; z-index: 2010; -ms-zoom: 1;
}
.template-show-more {
	margin: 10px; width: 100%; text-align: right; color: rgb(0, 111, 186); clear: both; cursor: pointer;
}
.loading-animation-class {
	background: url("//cdn.mscdirect.com/global/application-content/images/icons/loading-gray-spinner.gif") no-repeat top; margin: 0px auto; left: 48%; top: 350px; width: 72px; height: 76px; position: fixed;
}
.loading-animation-class p {
	width: 300px; height: 100%; padding-top: 90px; margin-left: -116px; display: block;
}
.breadcrumb.ui .section {
	margin: 4px 0px;
}
.v4-product-image-overlay-right-certona {
	top: 0px; right: 0px; position: absolute; max-height: 30%; max-width: 30%;
}
.v4-product-image-overlay-left-certona {
	left: 0px; top: 0px; position: absolute; max-height: 30%; max-width: 30%;
}
#v4-pdp-product-image {
	position: relative; -webkit-transform: translate3d(0, 0, 0);
}
.v4-product-image-overlay-left {
	left: 0px; top: 0px; position: absolute; max-height: 20%; max-width: 25px;
}
.v4-product-image-overlay-right {
	top: 0px; right: 0px; position: absolute; max-height: 20%; max-width: 25px;
}
.v4-product-image-overlay-right-quickview {
	top: 0px; right: 0px; position: absolute; max-height: 40%; max-width: 40% !important;
}
.showmore.list-group-item {
	color: rgb(51, 51, 51); font-size: 0.85em;
}
.v4-tn-search-term {
	color: rgb(0, 111, 186);
}
#v4-br-widget {
	font-size: 11px !important;
}
#v4-br-widget a {
	color: rgb(119, 119, 119) !important;
}
.v4-br-header {
	font-weight: bold;
}
.v4-br-description {
	font-size: 0.8em !important;
}
.v4-br-hidden {
	display: none;
}
.v4-br-items {
	padding-left: 30px;
}
.webPriceCertona {
	color: rgb(204, 0, 0);
}
.remove_popup {
	float: right;
}
.v4-recs-brand-name {
	min-height: 40px;
}
#v4-compare-tray {
	background: rgb(236, 236, 236);
}
#v4-tn-items-box {
	position: relative; -webkit-transform: translate3d(0, 0, 0);
}
#v4-compare-tray {
	display: none;
}
.v4-tn-compare-image-placeholder {
	background: rgb(255, 255, 255); border: 1px dashed rgb(85, 85, 85); border-image: none; width: 58px; height: 58px;
}
#v4-tn-sidebar-menu .item > .icon {
	display: table-cell;
}
#v4-tn-sidebar-menu .card.ui {
	z-index: 2;
}
#v4-tn-sidebar-menu .segment.ui .header.ui {
	text-align: left;
}
#v4-tn-selected-refinements .item {
	text-align: left;
}
.filtered-items {
	text-align: left;
}
#v4-tn-selected-refinements .item {
	width: 260px;
}
.v4-br-hidden {
	padding: 24px !important;
}
.v4-br-hidden img {
	width: 80px;
}
.pdp-rating-stars {
	margin-top: 10px;
}
@media screen and (max-width:992px)
{
.details-table {
	max-height: none !important;
}
.column.wide.eight .table.basic.very.compact.ui {
	font-size: 0.9em;
}
}
@media screen and (max-width:767px)
{
.popup-content {
	width: 95% !important; min-width: 95% !important;
}
.learnmore_modal {
	margin: 0px 0px 0px -47.5% !important; width: 95%;
}
#main-container .container.ui {
	margin-right: 0px !important; margin-left: 0px !important;
}
#main-top-nav {
	display: none !important;
}
#main-image-box {
	display: none !important;
}
#main-account {
	display: none !important;
}
#main-nav {
	display: none !important;
}
#main-account-onestop {
	display: none !important;
}
#main-search-box {
	background: rgb(0, 111, 186); padding: 5px 0px 5px 5px !important; width: 100% !important; margin-top: 0px !important;
}
#siteSearchInput {
	width: 88% !important;
}
#main-header-sub {
	width: 100% !important; min-width: auto !important;
}
#v4-header-top {
	margin-top: 0px !important;
}
#v4-header-bottom {
	margin-top: 0px !important;
}
#main-header {
	padding: 0px !important;
}
.vertical_certona {
	display: none;
}
#removeCart {
	width: 100%; margin-bottom: 15px;
}
#addToCart {
	width: 100%; margin-bottom: 15px;
}
#my-account-content {
	padding: 0px !important;
}
}
@media screen and (min-width:768px)
{
#v4-mobile-nav-hck {
	display: none;
}
}
@media screen and (max-width:991px) and (min-width:768px)
{
.v4-recs-description {
	min-height: 110px;
}
.v4-qty-chooser-input {
	padding: 0.37em !important; min-width: 40px;
}
.v4-length-input {
	padding: 0.37em !important; min-width: 40px;
}
.popup-content {
	min-width: 650px !important;
}
.learnmore_modal {
	margin: 0px 0px 0px -47.5% !important; width: 95%;
}
}
@media only screen and (max-width:1213px) and (min-width:992px)
{
.column.wide.eight .table.basic.very.compact.ui {
	font-size: 0.9em;
}
}
::-ms-clear {
	display: none;
}
.menu.pagination.ui .item {
	min-width: 2em !important;
}
.tn-pagination-arrows {
	padding-right: 2px !important; padding-left: 2px !important; min-width: auto !important;
}
#v4-tn-sidebar-menu {
	z-index: 2000;
}
#pdp-pb-box {
	text-align: left !important;
}
.xcr-refine-item {
	text-align: left !important;
}
.xcr-refine-item a {
	color: rgb(0, 111, 186) !important;
}
.qv-image img {
	margin: 0px auto; max-height: 250px;
}
.learnmore_modal {
	padding: 1.5em !important; transform-origin: 50% 25%; border-radius: 0.28rem; top: 40px !important; right: auto !important; position: fixed !important;
}
.fancybox-close-small:focus::after {
	
}
.qv-heading {
	padding-right: 1rem !important; margin-top: 1rem !important;
}
#br-lightbox-background {
	display: none !important;
}
#fb-legacy-box {
	display: none !important;
}
.forgotpw-column {
	max-width: 450px;
}
.forgotpw-forgotun-link {
	text-align: right;
}
.forgotpw-forgotun-input-box {
	padding-bottom: 5px;
}
.req_input {
	position: relative;
}
.req_input input {
	padding-left: 2.67em !important;
}
.err_box input {
	border: 1px solid rgb(219, 40, 40) !important; border-image: none !important;
}
.req_input label {
	margin: 0px 0px 0.28rem; font-weight: bold; display: block;
}
.req_input .icon {
	left: 1em; top: 50%; position: absolute;
}
.req_input .icon {
	left: 1em; top: 2.3em; position: absolute; opacity: 0.5;
}
.forgotpw-column .form_err_wrapper {
	margin: 1em 0px; padding: 1em 1.5em; border-radius: 0.28rem; color: rgb(219, 40, 40); line-height: 1.42em; font-size: 0.85em; display: block; position: relative; min-height: 1em; box-shadow: inset 0px 0px 0px 1px #db2828, 0px 0px 0px 0px transparent; background-color: rgb(255, 232, 230);
}
.login_form .form_err_wrapper {
	margin: 1em 0px; padding: 1em 1.5em; border-radius: 0.28rem; color: rgb(219, 40, 40); line-height: 1.42em; font-size: 0.85em; display: block; position: relative; min-height: 1em; box-shadow: inset 0px 0px 0px 1px #db2828, 0px 0px 0px 0px transparent; background-color: rgb(255, 232, 230);
}
.forgotpw-forgotun-input-box #Firstname {
	padding-left: 1em !important;
}
.forgotpw-forgotun-input-box #Lastname {
	padding-left: 1em !important;
}
.forgotpw-forgotun-input-box #Email {
	padding-left: 1em !important;
}
#NewPass {
	padding-left: 1em !important;
}
#ConfirmPass {
	padding-left: 1em !important;
}
.login_form {
	margin: 1.5em 0px !important;
}
.login_form.row > .column {
	padding-top: 1em; padding-bottom: 1em;
}
.semantic_espot {
	display: none !important;
}
.login-forgot-box {
	text-align: right;
}
.addtocart .v4-recs-title {
	display: inline-block;
}
.addtocart .v4-recs-dots-box {
	margin-left: 0.75em; vertical-align: top; display: inline-block;
}
.full_width {
	max-width: 100% !important;
}
.webprice-row {
	color: rgb(223, 31, 0);
}
.web-price-strike {
	color: rgb(51, 51, 51);
}
.web-price-gray {
	color: rgb(119, 119, 119);
}
.web-price-strike-container {
	text-decoration: line-through;
}
.pdp-your-price {
	font-size: 1.15em; font-weight: bold;
}
.lockoutmsg {
	text-decoration: underline !important;
}
.new_table_icon {
	top: 5px; color: rgb(0, 162, 224); font-size: 10px; font-style: italic; font-weight: bold; position: absolute;
}
.special_icon_wrap {
	-ms-word-wrap: break-word;
}
.v4-tn-view-icon i {
	vertical-align: top !important;
}
.category-rec.item.aligned.bottom {
	text-align: center; max-width: 80%;
}
.cmi_filter {
	font-weight: bold; margin-bottom: 1em;
}
.cmi_btn {
	text-align: right;
}
.card_exp_info span a {
	text-decoration: underline;
}
