/**
 * This stylesheet is used specifically by demo.html
 */

.demo {
    background: rgb(209, 8, 18);
}

.demo .header{
    height: 50px;
    margin-bottom: 20px;
}

.demo .menu {
    margin-left: 10px;
    margin-bottom: 20px;
}

.footer {
    height: 100px;
    padding-top: 10px;
    font-size: 16px;
}

#demoSiteIframe {
    width: 100%;
    height: 600px;
}

